:root {
  --background-color: #fff;
  --dropdown-background: #fff;
  --box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  --input-background: #f4f4f4;
  --font-color: #2d2d2d;
  --light-font: #757575;
  --purple-color: #a445ed;
  --border-color: #e9e9e9;

  --header-size: 4rem;
  --mobile-header: 2rem;
  --header-small-size: 1.5rem;
  --body-medium-size: 1.25rem;
  --body-medium-mobile: 1rem;
  --body-small-size: 1.125rem;
  --body-small-mobile: 0.9375rem;
  --small-text: 0.875rem;

  --container-width-desktop: 736px;
  --container-width-tablet: 689px;
  --container-width-mobile: 327px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --background-color: #050505;
  --dropdown-background: #1f1f1f;
  --box-shadow: 0px 5px 30px 0px #a445ed;
  --input-background: #1f1f1f;
  --font-color: #fff;
}
